@import url(stats.css);

.row1 {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.column-stats {
    width: 45%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-stats {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.row-stats2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-stats {
    background-color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 0.7em;
    padding: 0.5rem;
    width: 30%;
}

.div-stats h3{
    margin-top: 20px;
    font-size: 1.2em;
}

.div-stats2 {
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    padding: 0.5rem;
    width: 30%;
}

.div-stats2 .text {
    margin-top: 0;
}

.div-stats2 img {
    height: 40px;
    width: 40px;
}

.div-stats span {
    font-size: 1em;
    color: aqua;
}

.text {
    margin-top: 20px;
}

.text p {
    margin-top: 5px;
}

.row-maps {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.radial-chart {
    background-color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 300px;
    width: 275px;
}

#map_played {
    height: 400px;
    width: 200px;
}

.row-kd {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.donut-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 250px;
    width: 200px;
    padding: 1rem;
}



.row-top {
    width: 55%;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.top-chart {
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chart-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 275px;
}

.chart-bar canvas {
    height: 200px !important;
    width: 250px !important;
}

