@import url(main.css);
@import url(components.css);

.hero {
    font-family: var(--font-text);
    color: var(--font-primary-color);
    font-size: 1em;
    height: 100vh;
    background-image: linear-gradient(80deg, rgba(22, 27, 46, 0.9) 0%, rgba(18, 24, 46, 0.9) 61%, rgba(19, 27, 47, 0.9) 100%), url(../assets/img/bg_esport.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-text{
    width: 50%;
    text-align: justify;
    font-size: 0.8em;
}

.section-sobre {
    background-image: url(../assets/img/bg_cs2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%, auto;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;

}

.section-sobre .container-text{
    width: 40%;
    font-weight: 700;
}

.section-sobre .container-text p {
    color: var(--font-secondary-color);
}

.section-sobre .container-text h1{
    color: var(--font-secondary-color);
}

.container-image {
    height: 100%;
    width: 50%;
}

.section-sobre img {
    width: 100%;
    height: 100%;
}