@import url(stats.css);
@import url(components.css);

.container-pesquisa {
    display: flex;
    justify-content: space-between;
}


.container-text-pesquisa {
    position: relative;
    width: 40%;
}


.container-pesquisa h2 {
    font-size: 1em;
    font-family: var(--font-title);
}

.container-text-pesquisa p {
    font-size: 0.7em;
}

.container-image-form {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 250px;
}

.container-image-form-ranks {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 400px;
}

.container-image-form-ranks img {
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.container-image-form img {
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.container-form {
    background-color: var(--dark-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 60%;
    padding: 1rem;
}

.hide {
    display: none;
}

.btn-next {
    padding: 0.7rem;
    color: var(--font-primary-color);
    width: 200px;
    font-size: 0.7em;
    font-weight: 600;
    background: var(--secondary-color);
    text-transform: uppercase;
    border: none;
    position: relative;
    cursor: pointer;
    margin: 20px 20px 20px 0px;
}

.quiz-start {
    text-align: center;
    padding: 1rem;
}

.btn-start {
    padding: 1rem;
    color: var(--font-primary-color);
    width: 200px;
    font-size: 0.7em;
    font-weight: 600;
    background: var(--secondary-color);
    text-transform: uppercase;
    border: none;
    position: relative;
    cursor: pointer;
}

.quiz-box {
    background-color: var(--primary-color-dark);
    border-radius: 20px;
    height: 100%;
    width: 100%;
}


.container-quiz {
    margin: 30px auto;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.container-quiz::before,
.container-quiz::after {
    content: '';
    clear: both;
    display: table;
}

.quiz-box .question-number {
    font-size: 1.5em;
    font-family: var(--font-title);
    color: var(--secondary-color);
    font-weight: 700;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text {
    font-size: 1em;
    padding: 1rem 0;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .respostas,
.next-question-button,
.quiz-box .option-container {
    float: left;
    width: 100%;
}

.quiz-box .option-container .option{
    background-color: var(--font-secondary-color);
    margin-bottom: 10px;
    padding: 0.7rem;
    font-size: 0.7em;
    line-height: 22px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--positive-text-color);
    z-index: -1;
}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--negative-text-color);
    z-index: -1;
}

.quiz-box .option-container .option.opcao-bloqueada {
    pointer-events: none;
}

.quiz-box .respostas{
    border-top: 1px solid var(--secondary-color);
}

.quiz-box .respostas div{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: var(--font-secondary-color);
    margin-right: 5px;
    margin-top: 5px;
}

.quiz-box .respostas div.correct {
    background-color: var(--positive-text-color);
}

.quiz-box .respostas div.wrong {
    background-color: var(--negative-text-color);
}

.result-box {
    text-align: center;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
}

.result-box table td{
    border: 2px solid var(--primary-color-dark);
    background-color: var(--primary-color);
    padding: 0.7rem;
    font-weight: 600;
    text-align: left;
}

.total-score img {
    height: 50px;
    width: 100px;
}