@import url(main.css);
@import url(components.css);

body,
html {
    height: 100%;
}

.background {
    /*     background: var(--filter-color), url(../img/hero.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.container-img {
    overflow: hidden;
    width: 70%;
    position: relative;
}

.container-img .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: container-img 27.5s infinite;
}

.container-img .slide:nth-child(1) {
    background-image: url(../img/dust2_bg.jpg);
    animation-delay: 0s;
}

.container-img .slide:nth-child(2) {
    background-image: url(../img/inferno_bg.jpeg);
    animation-delay: -5.5s;
}

.container-img .slide:nth-child(3) {
    background-image: url(../img/nuke_bg.jpg);
    animation-delay: -11s;
}

.container-img .slide:nth-child(4) {
    background-image: url(../img/anubis_bg.jpg);
    animation-delay: -16.5s;
}

.container-img .slide:nth-child(5) {
    background-image: url(../img/italy_bg.jpg);
    animation-delay: -22s;
}


@keyframes container-img {
    0%,
    18%,
    100% {
        opacity: 1;
        animation-timing-function: ease;
        z-index: 0;
    }

    20% {
        opacity: 0;
        animation-timing-function: step-end;
        z-index: 0;
    }

    98% {
        opacity: 1;
        animation-timing-function: step-end;
        z-index: -1;
    }
}

.container-img::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container-form {
    width: 30%;
    height: 100vh;
    color: var(--font-primary-color);
    background: var(--bg-form-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#container-switch {
    position: relative;
    overflow: hidden;
    height: 55%;
}

.form {
    width: 90%;
    display: flex;
    gap: 10px;
    font-size: 0.7em;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

#login-side {
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

#cadastro-side {
    transform: translateX(-120%);
    transition: all .4s ease-in-out;
}

.troca-botao {
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    transition: color 0.6s;
}

.form h1 {
    font-family: var(--font-title);
    margin-bottom: 20px;
}

.steam-link a {
    color: var(--secondary-color);
}
