:root {
    --font-title: csFont;
    --font-text: 'Montserrat';
    --font-primary-color: white;
    --font-secondary-color: #1F202F;
    --positive-text-color: #48a71f;
    --primary-color: #293473;
    --primary-color-dark: #1C244F;
    --secondary-color: #F2921D;
    --dark-color: #171a21;
    --bg-color: linear-gradient(80deg, rgba(8,10,18,1) 0%, rgba(6,13,60,1) 71%, rgba(8,12,20,1) 100%);
    --bg-form-color: linear-gradient(80deg, rgba(35,44,99,1) 0%, rgba(11,14,27,1) 100%);
    --card-color: #222C70;
    --filter-color: linear-gradient(80deg, rgba(8,10,18,0.9) 0%, rgba(11,14,27,0.9) 61%, rgba(8,12,20,0.9) 100%); 
}

* {
    font-family: 'Montserrat';
    color: var(--font-primary-color);
}

@font-face {
    font-family: csFont;
    src: url(High\ Speed.ttf);
}


header {
    padding: 0.7rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
}

nav a {
    color: var(--font-primary-color);
    font-family: csFont;
    padding: 1rem;
}
nav a:hover {
    color: var(--secondary-color);
}

.title-dark {
    color: var(--font-secondary-color);
}
.title-light {
    color: var(--font-primary-color);
}